body {
    margin: 60px auto;
    width: 70%;
    background: #878c80;
    /*text-align: center;*/
    /*background: url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Polycyclic_Aromatic_Hydrocarbons_In_Space.jpg");
    background-size: cover;
    background-position: center;*/
}
background {
 opacity: .7;   
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    /*border-bottom: 2px solid #44456c;*/
}
a {
    text-decoration: none;
    color: #c4cbce;
    /*navbar text*/
}
a:hover {
    text-decoration: underline;
    color: #44456c;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #134026;
    /*big title*/
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #2c734a;
    /*middle title*/
}
p {
    font-size: .9em;
    line-height: 1.2em;
    color: #f2ebeb;
    /*body text*/
}
footer {
    border-top: 2px solid #44456c;
    font-size: .8em;
    bottom:0;
    position:fixed;
    z-index:150;
    position:absolute;
    top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    /*height:35px;*/
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
