
* { padding: 0; margin: 0; }

body {
 font-family: 'Arial', 'Helvetica', 'Sans-Serif';
 font-size: 13px;
}
wrapper { 
 margin: 0 auto;
 width: 922px;
}

nav ul {
float: left;
 width: 900px;
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 background-color:#F3F2ED;
}
leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background: transparent;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 350px;
 width: 200px;
 float: left;
}
content { 
 float: left;
 color: #333;
 border: 1px solid #ccc;
 background:#99A8A8;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 350px;
 width: 456px;
 display: inline;
}
rightcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#35648C;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 350px;
 width: 200px;
 float: left;
}
footer ul { 
 width: 900px;
 clear: both;
 color: #333;
 border: 1px solid #ccc;
 background-color:#3D4F2F;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
