* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Baskerville, Book Antigua, serif;
  font-size: 16px;
  background: url("https://apod.nasa.gov/apod/image/1712/JackFusco_JasperGeminids.jpg");
  /*background:  url("/SAM_2674.JPG");*/
  background-size: cover;
}

#profile img {
  display: block;
  margin: 0px 5px 10px 50px;
  float: right;
  border: 1px solid blue;
  border-radius: 20px;
  opacity: 1;
}

#wrapper {
  margin: 0 auto;
  /*width: 922px;*/
  width: 80%;
  /*opacity: .6;*/
}

#header {
  /*width: 900px;*/
  width: 100%;
  float: left;
  padding: 10px;
  border: 0px solid #ccc;
  height: 100px;
  margin: 10px 0px 5px 0px;
  background-color: #F3F2ED60;
  text-align: center;
  font-size: 20px;
}

#header h1 {
  font-size: 50px;
  font-family: georgia, serif;
  color: blue;
}

#header li {
  font-size: 15px;
  display: inline;
  padding: 0px 10px 0px 10px;
}

/*#leftcolumn {
  border: 0px solid #ccc;
  background: #F3F2ED99;
  margin: 0px 5px 5px 0px;
  padding: 10px;
  height: 350px;
  width: 195px;
  float: left;
}*/

#content {
  float: left;
  border: 0px solid #ccc;
  background: #F3F2ED99;
  margin: 0px 5px 5px 0px;
  padding: 10px;
  height: 350px;
  /*width: 681px;*/
  width: 75%;
  display: inline;
}

#rightcolumn {
  border: 0px solid #ccc;
  background: #F3F2ED99;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  height: 350px;
  /*width: 195px;*/
  width: 20%;
  float: right;
}


ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}
li.star {
background: url('http://pluspng.com/img-png/novice-png-talk-bubble-novice-png-622.png') no-repeat left top;
background-size: 10%;
height: 20px;
padding-left: 30px;
padding-top: 3px;
}


#footer {
  /*width: 900px;*/
  width: 100%;
  clear: both;
  border: 0px solid #ccc;
  background-color: #F3F2ED60;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}
