body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/* backgrounds */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 1;
  /* 0.65 */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url(../images/images/neowise_close.jpg);
  min-height: 400px;
}

.bgimg-2 {
  background-image: url(../images/images/Milky_Way_picture.jpg);
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(../images/images/India/Moon_India.jpg);
  min-height: 400px;
}

.bgimg-4 {
  background-image: url(../images/images/Hawaii/DSC01788.jpg);
  min-height: 400px;
}

/* images 
background-image: url(../images/images/neowise_close.jpg);
background-image: url(../images/images/Milky_Way_picture.jpg);
background-image: url(../images/images/India/Moon_India.jpg);
background-image: url(../images/images/Hawaii/DSC01788.jpg);
*/

a:link,
a:visited {
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a:hover,
a:active {
  background-color: #fff;
  color: #a23758;
}

.boxes a {
  color: #a23758;
}

.boxes a:hover,
.boxes a:active {
  color: blue;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: transparent;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #a23758;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


#navbar a:hover {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* box sections */
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #f22100;
}


.caption span.border {
  background-color: #a23758;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 25px "Lato", serif;
  color: #111;
  text-align: center;
}

h4 {
  text-transform: none;
  font: 20px "Lato", serif;
  font-weight: bold;
  color: #111;
}


.boxes {
  color: #777;
  background-color: white;
  padding: 40px 80px;
  text-align: justify;
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    background-attachment: scroll;
  }
}
