body {
    background: #c4cbce; /* For browsers that do not support gradients */
    background: linear-gradient(0deg, #2c734a, #c4cbce); /* Standard syntax (must be last) */
}

div.gallery:hover {
   opacity: 0.6;
   transition: .5s ease;
}

div.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}


* {
    box-sizing: border-box;
}

.responsive {
    padding: 2px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: transparent;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #a23758;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}