div.gallery:hover {
   opacity: 0.6;
   transition: .5s ease;
}

div.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}


* {
    box-sizing: border-box;
}

.responsive {
    padding: 2px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}