body {
  font-family: Baskerville, Book Antigua, serif;
  font-size: 16px;
  background: url(https://cdn.pixabay.com/photo/2016/04/12/22/35/watercolour-1325656_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  /* background: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg"); */
  background: url("/images/images/trails1.jpg");

  /* fallback */
  background-color: #F3F2ED60;
}

.header h1 {
  font-size: 50px;
  font-family: Palatino Linotype, serif;
  color: white;
}

.header li {
  font-size: 15px;
  display: inline;
  padding: 0px 10px 0px 10px;
}


.about {
  text-align: center;
  color: black;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    background-color: #ff8c63; /*fallback*/
    background: #F3F2ED60;
    margin-top: 20px;
    color: #1d0f39;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* Interactive timeline */
/* Remove default bullets */
ul,
#Timeline {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#Timeline {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
